.btn {
  background: transparent;
  border: 2px solid;
  color: inherit;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn:disabled {
  border-color: #9ca3af;
  color: #9ca3af;
  background: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn_play {
  color: #1db954;
}

.btn_pause {
  color: #dde000;
}

.btn_stop {
  color: #c01d1d;
}

.vol {
    cursor: pointer;
}