.btn {
  background: transparent;
  border: 2px solid;
  color: inherit;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn:disabled {
  border-color: #9ca3af;
  color: #9ca3af;
  background: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}

.vol {
  cursor: pointer;
}